# Ignore everything by default
*

# Do not ignore these directories
!.gitignore
!*.yaml
!*.md
!*.txt
# Add www directory
!www/   

# Ignore specific files and directories
.storage/
.cloud/
home-assistant_v2.db
.*.log
*.log
.*.db
*.db
secrets.yaml
evcc.yaml
